.venv/
__pycache__/
db.sqlite3
.env
media/
*.pyc
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Secrets Google OAuth / Gmail API
credentials.json
token.pickle
front-end/android/app/google-services.json